* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #f6f6f6;
  font-family: "Lora", serif;
}

header {
  background: #008489;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: "Candal", serif;
}

header .logo-text span {
  color: #29cfd4;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 9999;
}

header ul li:hover ul {
  display: block;
  width: 100%;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 15px;
  background: #008489;
  color: white;
  text-align: center;
  line-height: 33px;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a.logout:hover {
  color: red;
}

header ul li ul li a:hover {
  background: #026366;
  color: rgb(253, 202, 140);
}

header ul li a {
  height: 66px;
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #026366;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
  header {
    position: relative;
  }
  header ul {
    width: 100%;
    background: #18adb3;
    max-height: 0px;
    overflow: hidden;
  }
  .showing {
    max-height: 100em;
  }
  header ul li {
    width: 100%;
  }
  header ul li ul {
    position: static;
    width: 180px;
    display: block;
    width: 100%;
  }
  header ul li ul li a {
    padding: 10px;
    background: #18adb3;
    color: white;
    padding-left: 50px;
  }

  header ul li ul li a.logout {
    color: red;
  }
  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }
  header .logo {
    margin-left: 0.5em;
  }
}
