* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #f6f6f6;
  font-family: "Lora", serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Candal', serif;
  color: #444;
  margin: 5px;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  background: #008489;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: "Candal", serif;
}

header .logo-text span {
  color: #e0c06e;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 8888;
}

header ul li:hover ul {
  display: block;
  width: 100%;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 15px;
  background: #549999;
  color: white;
  text-align: center;
  line-height: 33px;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a.logout:hover {
  color: red;
}

header ul li ul li a:hover {
  background: #026366;
  color: #fdca8c;
}

header ul li a {
  height: 66px;
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #026366;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

.page-wrapper a:hover {
  color:#008489
}

/*Post Slider*/
.post-slider {
  position: relative;
  /* border: 1px solid red; */
}
.post-slider .slider-title {
  text-align: center;
  margin: 30px;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #fdca8c;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #fdca8c;
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 0px 10px;
  /* border: 1px dashed green; */
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 330px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5px;
  /* border: 1px dashed blue; */
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
  header {
    position: relative;
  }
  header ul {
    width: 100%;
    background: #18adb3;
    max-height: 0px;
    overflow: hidden;
  }
  .showing {
    max-height: 100em;
  }
  header ul li {
    width: 100%;
  }
  header ul li ul {
    position: static;
    display: block;
    width: 100%;
    background: inherit;
  }
  /*A regler pour les liens responsive*/
  header ul li ul li a {
    position: relative;
    padding: 10px;
    background: #18adb3;
    color: white;
    padding-left: 50px;
  }

  header ul li ul li a.logout {
    color: red;
  }
  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }
  header .logo {
    margin-left: 0.5em;
  }
}
